# OCI Authentication Configuration
tenancy_ocid: "ocid1.tenancy.oc1...aa"
user_ocid: "ocid1.user.oc1...aa"
fingerprint: "aa:bb:cc:dd:ee:ff:00:11:22:33:44:55:66:77:88:99"
private_key_path: "/path/to/private/key.pem"
region: "us-ashburn-1"

# Compartment where resources will be created
compartment_id: "ocid1.compartment.oc1...aa"

# Instance Pool Configuration
instance_pool:
  display_name: "my-instance-pool"
  size: 5  # Set to 0 to override with --count flag
  
  # Instance Configuration - defines what each VM looks like
  instance_configuration:
    display_name: "my-instance-config"
    
    # VM Shape
    shape: "VM.Standard.E4.Flex"
    
    # For flexible shapes
    shape_config:
      ocpus: 1
      memory_in_gbs: 6
    
    # Image OCID
    image_id: "ocid1.image.oc1.iad.aaaaaaaazigqixefhjb6jew2etuzox5erpff6wjtjhe5lzextgxm76jymz2q"
    
    # Subnet
    subnet_id: "ocid1.subnet.oc1.iad.aaaaaaaapxzkqelfl3mspcka3whu4puolcdfkr6xffch7jkcuvfla4z46tha"
    
    # Public IP
    assign_public_ip: true
    
    # SSH Keys
    ssh_authorized_keys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAA...2pQ+LrKw0Zxzvu2XrUAtKs2i7MX35/4+eWFZYc=
    
    # Metadata
    metadata:
      application: "oci-insta-scale"
      environment: "production"
    
    # Tags
    freeform_tags:
      Project: "OCI-Insta-Scale"
      ManagedBy: "automation"
  
  # Placement Configuration - where to place instances
  placement:
    - availability_domain: "rgiR:US-ASHBURN-AD-1"
    - availability_domain: "rgiR:US-ASHBURN-AD-2"
    - availability_domain: "rgiR:US-ASHBURN-AD-3"
